.dashboard {
  width: 100%;
  height: 100%;

  .panel {
    height: 100%;
    width: 500px;
    background: #1a1b1e;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 6px;

    .scroll-overflow {
      width: 466px;
      box-sizing: border-box;
      padding-right: 10px;
    }
  }
}
